<!-- display question and answer -->
<!-- <div>
  <ul>
    <li><%= @question %> </li>
    <li><%= @answer %> </li>
  </ul>
</div> -->
<div id="question">
  <p><%= @question %></p>
  <p>- Your question</p>
</div>

<div id="answer">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<span><%= link_to "Back", ask_path %></span>
